.CreatePost{
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 75%;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    height: 50%;
}
.NewPostTextArea{

    outline:none;
    border-style: solid 1px;
    width: 90%;
    min-height: 200px;
    resize:none;
    border-radius: 15px;
    border-color: darkgray;
    padding: 5px;

}
.divofinput{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.postbutton{
    background-color: #332d56;
    color: #edeff2;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border-style: none;
    float: right;
    position: relative;
}

