.app-wrapper {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-areas:
  "h h"
  "n c";
  grid-template-rows: 70px 100vh;
  grid-template-columns: 250px 1fr;
  max-width: 100%;
  overflow: hidden;
}
.maingrid {
  grid-area: c;
  background-color: #edeff2;
  width: 100%;
  padding: 20px;
  height: 100%;
  overflow: hidden;
}


@media only screen and (max-width: 900px){
  .app-wrapper{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas:
"h h"
"n c";
    grid-template-rows: 70px 100%;
    grid-template-columns: 40px 1fr;
  }
  .maingrid  {
    grid-area: c;
    background-color: #edeff2;
    width: 100%;
    padding: 20px;
    height: 100%;
  }
}

















